aside.navContent {
    background-color: #fff9ea;
    width: 10%;
    overflow: hidden;
    display: block;
    align-items: center;
    justify-content: center;
}

button.btn.btn-light {
    font-size: 0.8em;
    width: 100%;
    justify-content: center;
}

button.delete-Button {
    float: right;
    height: 25px;
    background-color: #cccccc;
    border-radius: 5px;
    z-index: 10;
}

a button {
    opacity: 0;
}

a:hover button {
    opacity: 1;
}

svg.bi.bi-plus {
    margin-top: 1px;
}

a.navItem {
    display: block;
    color: black;
    margin-top: 10px;
    z-index: 0;
}

a.navItem:hover {
    text-decoration: none;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}

input {
    margin-top: 10px;
    width: 60%;
}

